a {
    color: purple
}

#startBtn {
    background-color: purple;
}

#submitbtn {
    background-color: purple;
}

#choices {
    background-color: purple;
}

#choices:hover {
    background-color: plum;
}
